:root {
  --r-deep-teal: #0a4358;
  --r-teal-700: #15727e;
  --r-teal-600: #24878e;
  --r-teal-500: #309a9e;
  --r-aqua-400: #35b8b2;
  --r-ice-100: #c1e4ee;
  --r-ice-bg: #f1fbfd;

  --r-font-head: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  --r-font-ui: 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}
