:host {
  display: block;
}

.section-title {
  max-width: 44rem;
}

.section-title__heading {
  margin-top: 1.2rem;
  color: #ffffff;
}

.section-title__description {
  margin-top: 1rem;
  max-width: 40rem;
}
